<!DOCTYPE html>
<html {{{html_attributes}}}>
<head>
{{{head}}}
<title>{{title}}</title>
{{{styles}}}
{{{scripts_head}}}
</head>
<body {{{body_attributes}}}>
{{{page}}}
{{{scripts_bottom}}}
</body>
</html>